.animation {
  box-shadow: 0 2px 5px gray;
  transition: all .3s;
  transition-timing-function: ease-in-out;

}


.animation:hover {
  transform: translateY(-7px);
  box-shadow: 0 4px 7px gray;
}

.animation:active {
  transform: translateY(0);
  box-shadow: 0 2px 5px gray;
}
