


body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: arial;
    padding-top: 0;


}



#camera {
  transform-origin: 50% 50%;
  transition: transform .6s ease-out;

}
#camera:hover {
  transform: rotate(15deg);
}
